.create-patient-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-patient-disabled{
    display: none;
}
.create-patient-back{
    position: absolute;
    background-color: rgb(165, 165, 165);
    opacity: .5;
    height: 100%;
    width: 100%;
}
.create-patient-front{
    overflow-y: auto;
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 80%;
}

.create-patient-form{
    margin: 40px 10px 10px 50px;
    flex-direction: column;
}

.create-patient-form>label{
    margin:0px 5px 0px 5px;
}

.Input-date{
    width: 120px;
}

.Input-name{
    width: 200px;
}
.Input-civilStatus{
    width: 130px;
}
.TextArea-creat-patient{
    width: 80%;
    min-height: 150px;
}
.create-patiente-button1{
    width: 100px;
}