.menu-user {
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  width: 30px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: calc(100vh - 85%);
  left: 10px;
  z-index: 1;  
  overflow: hidden;
}

.menu-user:hover {
  width: 300px;
  transition: all 0.5s ease-in-out;
}

.menu-user > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left:2px;
  color: #000;
}
.menu-user > a:hover{
    background-color: var(--cornflower-blue50);
}
.menu-user > a > p {
  margin-left: 8px;
}
