body{
  margin: 0;
  border: 0;
  font-family: "Nunito", sans-serif;
}
:root{
  --cornflower-blue50: #f1f4fd;
  --cornflower-blue100: #dfe7fa;
  --cornflower-blue200: #c6d5f7;
  --cornflower-blue300: #9fbaf1;
  --cornflower-blue400: #668de6;
  --cornflower-blue500: #5172e0;
  --cornflower-blue600: #3c56d4;
  --cornflower-blue700: #3343c2;
  --cornflower-blue800: #2f399e;
  --cornflower-blue900: #2b347d;
  --cornflower-blue950: #1e224d;
  --black-50: #f6f6f6;
  --black-100: #e7e7e7;
  --black-200: #d1d1d1;
  --black-300: #b0b0b0;
  --black-400: #888888;
  --black-500: #6d6d6d;
  --black-600: #5d5d5d;
  --black-700: #4f4f4f;
  --black-800: #454545;
  --black-900: #3d3d3d;
  --black-950: #000000;
}

.button1{
  padding: 8px;
  border-radius: 10px;
  background-color: var(--cornflower-blue300);
  color: #fff;
  border: 1px solid;
  cursor: pointer;

}
.button1:hover{
  background-color: #fff;
  color:var(--cornflower-blue300);
}

::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  /* color of the tracking area */
  background-color: #f2f2f2;
  /* creates padding around scroll thumb */
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 5px;
}

.close-wind{
  color: var(--cornflower-blue600);
  font-weight: 800;
  font-size: 30px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 10px;
}
.close-wind:hover{
  color: var(--black-500);

}

.Input1{
  border-radius: 20px;
  border: 1px solid var(--black-300);
  padding: 5px;
  margin-bottom: 5px;
}
.Input1:focus{
  border: 1px solid var(--cornflower-blue300);
  outline: none;
}

.Input1-select{
  border-radius: 20px;
  border: 1px solid var(--black-300);
  padding: 5px;
  margin-bottom: 5px;
  appearance: none; /* Elimina el estilo por defecto del navegador */
  -webkit-appearance: none;
  -moz-appearance: none;
}
.Input1-select:focus{
  border: 1px solid var(--cornflower-blue300);
  outline: none;
}


.Input1-textarea{
  border-radius: 20px;
  border: 1px solid var(--black-300);
  padding: 5px;
  margin-bottom: 5px;
  appearance: none; /* Elimina el estilo por defecto del navegador */
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: border-color 0.3s ease-in-out; /* Permite cambiar el tamaño solo verticalmente */
}
.Input1-textarea:focus{
  border: 1px solid var(--cornflower-blue300);
  outline: none;
}
